################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSXsharp/obj
/DSXsharp/bin/Debug
/DSXsharp.Tests/bin/Debug
/DSXsharp.Tests/obj/Debug
/DSXsharp/packages
